<!DOCTYPE html>
<html>
	<% var subtitle = "Profile" %>
	<% include ../parts/head %>
	<!-- Start content -->

	<div class="container">
		<%
		const user = client.users.get(user);
		if (user) { %> <!-- if user in bot's server -->
			Select a server!<br><br>
			<% client.guilds.forEach(guild => {
				if (!guild.members.has(user.id)) continue; %>
				<a href="/leaderboard/<%= guild.id %>">Leaderboard for <%= guild.name %></a><br>
			<% }) %>
		<% } else { %> <!-- if user in bot's server's else -->
			The user ID provided is invalid. Please <a href="/login">Login through Discord</a>
		<% } %>
	</div>

	<!-- End content -->
	<% include ../parts/footer %>
</html>