<!DOCTYPE html>
<html>
  <% var subtitle = "Home" %>
  <% include ../parts/head %>
  <!-- Start content -->

  <h2 class="text-center">
    404 - Page not found
  </h2>

  <!-- End content -->
  <% include ../parts/footer %>
</html>