<head>
  <meta charset="utf-8">
  <meta name="theme-color" content="#FFDA00" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta http-equiv="Content-Type" content="text/html; CHARSET=utf-8" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, shrink-to-fit=no, user-scalable=yes">

  <title><%= subtitle ? `${subtitle} - ${client.user.username}` : `${client.user.username}` %></title>
  
  <link rel="icon" href="<%= client.user.displayAvatarURL({size: 256}) %>" type="image/png" />
  <link rel="stylesheet" href="/bootstrap.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/mdbootstrap.css">
  <link rel="stylesheet" href="/common.css">
  <link rel="stylesheet" href="/dark.css" id="darkmode" crossorigin="anonymous">

  <link rel="stylesheet" href="https://rawcdn.githack.com/ellekasai/twemoji-awesome/gh-pages/twemoji-awesome.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">

  <script src="//twemoji.maxcdn.com/2/twemoji.min.js?11.2"></script>
  <% include ./headscripts %>
</head>
<body>
  <% include ./nav %>