	<div id="boardHeader" class="z-depth-2">
		<a href="/"><img src="/logo.png" class="img-fluid" id="img-logo"></a><br>

		<div id="userPanel">
			
		</div>

		<div id="headerNavigation">
			<div id="navigationContainer">
				<a class="navigationLinks" href="/commands">Commands</a>
				<a class="navigationLinks" href="<%=inviteBot%>">Setup</a>
				<a class="navigationLinks" href="https://discord.gg/vbYZCRZ">Community</a>
				<a class="navigationLinks" href="/support">Support</a>
				<a class="navigationLinks" href="https://gitlab.com/Samplasion/yamamura-discord-bot">Source</a>
			</div>
		</div>
		<div class="headSeparate z-depth-5"></div>
	</div>